html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: gray;
}

.nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.nav ul > * {
  padding: 1rem;
  text-align: center;
  background-color: black;
  color: white;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: orange;
}

.menneisyys {
}

.nykyisyys {
}

.tulevaisuus {
}
